<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvancedTippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22EFD2FB1D972E61008F1186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EFD30F1D972E62008F1186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EFD31A1D972E62008F1186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
